<!DOCTYPE html>
<html>
    <head>
        <meta content="author" description="Antonio Aiello">
        <title>Rocket Business</title>
        <!-- Semantic UI cdn-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet">
        <link href="./stylesheet/about.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="ui large secondary pointing menu">
            <a href="/" class="item"><i class="rocket icon"></i>Rocket Business</a>
            <a href="/portfolio" class="item"><i class="paper plane outline icon"></i> Portfolio</a>
            <div class="right menu">
                <a class="active item"><i class="handshake outline icon"></i> Su di noi</a>
            </div>
        </div>
        <div id="history">
            <img src="https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="blog posts photo">
            <h1 class="ui header">LA NOSTRA STORIA</h1>
            <p>Perché la creazione di siti web per le piccole/medio imprese italiane? Quali sono i nostri obiettivi e soprattutto chi siamo?</p>
            <h3 class="ui header">Perché la creazioni di siti web?</h3>
            <p>Da anni ormai il solo negozio fisico non è più sufficiente al fine di raggiungere un profitto ottimale e soddisfacente. Oggi come oggi le imprese, non solo quelle italiane, ma anche quelle di tutto il mondo non solo devono affrontare la loro concorrenza fisica ma anche quella online, il mercato locale non esiste più, siamo nell'era del <strong>mercato globale</strong>.</p>
            <p>Un sito web non solo ti mette in contatto con la clientela di tutto il mondo ma ti consente di farlo a costi veramente contenuti, una volta lanciato il sito i costi dell'attività online sono minimi, mettendoti non uno ma cento passi avanti alla tua concorrenza fisica.</p>
            <h3 class="ui header">Quali sono i nostri obiettivi?</h3>
            <p>Il nostro obiettivo è quello di metterti in cima alla tua concorrenza, non solo creando un sito web per te, ma aiutandoti nel processo di lancio e di marketing se necessario.
            Il nostro interesse primario è quello di rendere la tua impresa un impresa di successo, perché <strong>il tuo successo online è anche il nostro</strong>.</p>
            <h3 class="ui header">Chi siamo?</h3>
            <p>Siamo un gruppo di giovani appassionati di sviluppo web e di web design, comprendiamo le difficoltà in cui versano le odierne aziende italiane e vogliamo risolvere tale situazione portando i nostri clienti in tutto il mondo, tramite la potenza del web.</p>
            <br>
            <p>Hai creato un prodotto innovativo e vorresti vedere cosa ne pensa il mercato? Ottimo, svolgendo un test di mercato siamo in grado di verificare l'effettiva produttività dei tuoi prodotti e se questi hanno un riscontro positivo sulla clientela ti aiutiamo a mostrarli a tutto il mondo?</p>
            <br>
            <p>La tua azienda non è più quella di un tempo e ti sembra che tu stia perdendo tutta la tua clientela? Perfetto, aumentiamo la tua platea di potenziali clienti mettendo il tuo business online.</p>
            <br>
            <p>Hai voglia di far conoscere al mondo i tuoi pensieri o vuoi mostrare cosa sai fare? Allora creiamo un blog totalmento dedicato a te e alle tue idee, il tutto a un costo contenuto ed in pochissimo tempo</p>
            <p>Visita il nostro portfolio per vedere cosa possiamo offrirti.</p>
            
            <a href="/portfolio" class="ui yellow huge button">Visita il portfolio</a>
        </div>
<% include ./partials/footer.ejs %>