<!DOCTYPE html>
<html>
    <head>
        <title>Rocket Business</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet">
        <link href="./stylesheet/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <section class="sfondo">
            <div id="navbar" class="ui large secondary inverted pointing menu">
                <a class="active item">Rocket Business</a>
                <a class="item">Portfolio</a>
                <div class="right menu">
                    <a class="item">Su di noi</a>
                </div>
            </div>
            <div class="ui text center aligned container">
                <h1 id="centerHead" class="ui inverted header">
                    Porta il tuo business al prossimo livello
                </h1>
            </div>
        </section>
        <div id="short" class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Noi aiutiamo le compagnie e i compagni!</h3>
                        <p>
                            Noi possiamo fornire alla tua azienda un potenziale che non hai mai creduto possible. Lasciaci illuminare i tuoi clienti e dare libero spazio ai tuoi bisogni ... tutto attraverso il potenziale della rete internet.
                        </p>
                        <h3 class="ui header">Raggiungi mete inaspettate</h3>
                        <p>Attraverso l'internet la tua impresa può raggiungere qualsiasi persona nel nostro mondo, tutto con pochi click!</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="ui large bordered rounde image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">Vedi cosa possiamo offrire</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>