<!DOCTYPE html>
<html>
    <head>
        <meta content="author" description="Antonio Aiello">
        <title>Rocket Business</title>
        <!-- Semantic UI cdn-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet">
        <link href="./stylesheet/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <section class="sfondo">
            <div id="navbar" class="ui large secondary inverted pointing menu">
                <a class="active item"><i class="rocket icon"></i>Rocket Business</a>
                <a class="item"><i class="paper plane outline icon"></i>
Portfolio</a>
                <div class="right menu">
                    <a class="item"><i class="handshake outline icon"></i> Su di noi</a>
                </div>
            </div>
            <div class="ui text center aligned container">
                <h1 id="centerHead" class="ui inverted header">
                    Porta il tuo business al prossimo livello
                </h1>
            </div>
        </section>
        <div style="padding-bottom: 10%" class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Noi aiutiamo le compagnie e i compagni!</h3>
                        <p>
                            Noi possiamo fornire alla tua azienda un potenziale che non hai mai creduto possible. Lasciaci illuminare i tuoi clienti e dare libero spazio ai tuoi bisogni ... tutto attraverso il potenziale della rete internet.
                        </p>
                        <h3 class="ui header">Raggiungi mete inaspettate</h3>
                        <p>Attraverso l'internet la tua impresa può raggiungere qualsiasi persona nel nostro mondo, tutto con pochi click!</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="ui large bordered rounde image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">Vedi cosa sappiamo fare</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="advantages" class="ui vertical stripe segment">
            <div id="vantaggi" class="ui center aligned text container">
                <h3 class="ui header">
                    9 vantaggi di iniziare un attività online
                </h3>
                <ol>
                    <li>I. Puoi abbattere i costi della tua attività</li>
                    <li>II. Puoi vendere 24 ore su 24</li>
                    <li>III. Acquistare online è pratico, comodo e veloce</li>
                    <li>IV. Puoi raccogliere dati e informazioni preziose sui tuoi clienti</li>
                    <li>V. Puoi offrire sconti e promozioni riservate e personalizzate</li>
                    <li>VI. Puoi raggiungere un pubblico di clienti potenzialmente infinito</li>
                    <li>VII. Puoi controllare il magazzino in tempo reale</li>
                    <li>VIII. Hai il diretto controllo sulla tua Brand Reputation</li>
                    <li>IX. Puoi vendere direttamente ai tuoi clienti, senza intermediari</li>
                    <li>X. Puoi offrire strategie di remarketing</li>
                </ol>
                <div class="row">
                    <a  href="https://www.web-station.it/ecommerce-siti-web/6613-aprire-un-sito-e-commerce/" target="_blank" class="ui huge button">Approfondisci</a>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 10%; padding-top: 10%;" class="ui vertical stripe segment">
            <div class="ui text center aligned container">
                <h1 class="ui header">Un negozio online non fa al caso tuo ma vuoi solo dare libero sfogo ai tuoi pensieri?</h1>
                <p class="ui description">
                    Ottimo! Abbiamo ciò che fa al caso tuo, nei nostri servizi offriamo anche la costruzione di blog e pagine web personali dove puoi mostrare agli altri cosa sai fare meglio e perché no forse anche insegnare qualcosa al web.
                    Segui le orme di famosi blogger quali Chiara Ferragni, Mariano di Vaio, Salvatore Aranzulla, Chiara Nasti e molti altri!
                </p>
            </div>
        </div>

        <div style="padding-bottom: 10%" class="ui vertical stripe segment">
            <div class="ui text center aligned container">
                <h1 class="ui header">Cosa offriamo</h1>
                <ul>
                    <li>Sito completamente personalizzato, per soddisfare tutte le tue esigenze</li>
                    <li>Prodotti di alta qualità e con l'utilizzo dei più recenti framework</li>
                    <li>Supporto senza limiti di tempo, siamo sempre a tua disposizione</li>
                    <li>Consigli e supporto riguardanti il tuo sito dopo il lancio</li>
                    <li>Campagne pubblicitarie tramite social network (Facebook, Instagram, ecc.)</li>
                    <li>Consigli e supporto per il web marketing</li>
                </ul>
                <a class="ui animated button" tabindex="0">
                  <div class="visible content">Vedi le nostre offerte</div>
                  <div class="hidden content">
                    <i class="right arrow icon"></i>
                  </div>
                </a>            
            </div>
        </div>
        
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
              <div class="ui stackable inverted divided equal height stackable grid">
                <div class="seven wide column">
                      <h4 class="ui inverted header">Info</h4>
                      <p>Questa pagina è stato realizzato <br> con il contributo di Semantic UI</p>
                      <p>Made in NA &copy Rocket Business</p>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header">Link</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">Su di noi</a>
                    <a href="#" class="item">Portfolio</a>
                    <a href="#" class="item">Homepage</a>
                  </div>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header">Contatti</h4>
                  <div class="ui inverted link list">
                    <a class="item"><i class="facebook icon"></i> Facebook</a>
                    <a class="item"><i class="envelope icon"></i> rocketBusiness@gmail.com</a>
                    <a class="item"><i class="phone icon"></i> +39 366 4408870</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>